/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

#top-bar ul {
    padding: 11px 5px;
}

ul li {
    display: inline-block;
}

#top-bar a {
    text-decoration: none;
    color: white;
    background-color: rgba(98, 98, 98, 0.747);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

li .fa-table-cells {
    margin-right: 3px;
}

li:first-child {
    margin-right: 5px;
}

/* Main Styles */
main {
 height: calc(100vh - 130px);
}

#main-content {
    max-width: 92%;
    margin: 0 auto;
    background-color: black;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

#main-content .box-picture {
    width: 250px;
    height: 150px;
    position: relative;
    margin: 10px 5px;
}

.box-picture img {
    width: 250px;
    height: 150px;
}

.box-picture .text-image {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 13px;
    padding: 6px;
    background-color: rgba(98, 98, 98, 0.747);
}

/* Footer Styles */
footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-start, .footer-center, .footer-end {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer .icon {
    margin: 0 10px;
}

.icon i {
    font-size: 30px;
}

.icon .text-icon {
    font-size: 12px;
    margin-top: 5px;
}

.fa-share-from-square {
    color: #4bc800;
}

.footer-end {
    background-color: #4a4a4a;
    color: red;
}