/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Main Styles */
.container {
    height: 100vh;
    background-color: black;
}

/* Top Bar Styles */
#top-bar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
}

#right-links ul {
    text-align: right;
    padding: 11px 5px;
}

ul li {
    display: inline-block;
}

#right-links a {
    text-decoration: none;
    color: white;
    background-color: rgba(98, 98, 98, 0.747);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

li .fa-table-cells {
    margin-right: 3px;
}

li:first-child {
    margin-right: 5px;
}

/* Main Content Styles */
#main-content {
    max-width: 92%;
    margin: 90px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    height: auto;
}

#main-content .picture {
    width: 290px;
    height: 170px;
    display: flex;
    margin: 9px 4px;
    position: relative;
    background-image: url(https://fastly.picsum.photos/id/28/4928/3264.jpg?hmac=GnYF-RnBUg44PFfU5pcw_Qs0ReOyStdnZ8MtQWJqTfA);
    background-size: cover;
    background-position: center;
}

.picture .text-image {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 16px;
    padding: 6px;
    background-color: rgba(98, 98, 98, 0.747);
}

/* Low Bar Styles */
#lowbar{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: #222222;
}

.col-footer{
    flex-basis: 15%;
    padding-left: 20px;
    display: flex;
}

#main-actions{
    color: white;
    padding: 5px;
    display: flex;
}

.icons{
    font-size: 20px;
}

.text-icons{
    line-height: 20px;
}

.actions{
    font-size: 10px;
    text-align: center;
    margin-right: 20px;
    color: white;
}

.col-footer.big{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
}

.col-footer.end{
    justify-content: right;
}

#end{
    color: red;
    background-color: grey;
    height: 70px;
    text-align: right;
    display: flex;
    align-items: center;
    padding: 5px;
}